@import "/src/scss/variables";

.section_form {
  margin-top: 80px;
}
.form_container {
  // margin: 60px 90px;
  width: 1160px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 30px;
  padding: 40px 0px 40px 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #dedede;
}

.form_top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.form_top_left {
  h1{
    font-size: 2.3em;
    font-weight: 600;
    color: #ad0bfd;
  }
  h2 {
    font-size: 22px;
    font-weight: 600;
    color: #ae0dff;
    margin-top: 40px;
  }
  p {
    font-size: 18px;
    font-weight: 550;
  }
}

.form_section_segment {
  // margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 140px;
}
.form_section_segment-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px 0;
}
.form_section_segment-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 15px 0;
}

input[type="radio"] {
  margin-right: 5px;
  scale: 1.5;
}

.form_map{
  height: 300px;
    width: 400px;
    object-fit: contain;
    margin-left: 40px;
}

.pin_map{
    height: 300px;
    width: 400px;
    object-fit: contain;
    margin-left: 40px;
    //filter: drop-shadow(10px 10px 0px #7500af);
}
#map-1{
  height: 400px !important;
  width: 400px !important;
  margin-right: 40px;
  // box-shadow: 8px 8px 0px 0px rgba(120, 4, 172, 0.7);
  border-radius: 20px;
}
.error-small{
  font-size: 12px;
  color: red;
  font-style: italic;
  padding: 2px 45px;
}

.locality_header{
  font-size: 22px;
  font-weight: 600;
  color: #ae0dff;
}

.location-form-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  gap: 12px;
  .option1 {
    width: 25%;
    label {
      color: #b011ff;
      font-weight: 500;
      font-size: 20px;
    }
    .input-wrapper {
      margin-top: 12px;
      .pincode {
        input {
          border-radius: 20px;
          height: 40px;
          width: calc(100% - 40px);
          background-color: #d9d9d9;
          border: none;
          padding: 0px 20px;
          font-size: 18px;
          line-height: 21.94px;
          font-style: italic;
          color: #404040;
          -moz-appearance: none; /* Firefox */
          -webkit-appearance: none; /* Safari and Chrome */
          appearance: none;
          background-image: url("/public/assets/Group 117.png");
          background-repeat: no-repeat;
          background-position: calc(100% - 4px);
          background-size: 30px;
          font-weight: 400;
        }
      }
      .gram-panchayat {
        margin-top: 20px;
        .gram {
          border-radius: 20px;
          height: 40px;
          background-color: #d9d9d9;
          border: none;
          padding: 0px 20px;
          width: 100%;
          -moz-appearance: none; /* Firefox */
          -webkit-appearance: none; /* Safari and Chrome */
          appearance: none;
          background-image: url("/public/assets/down-arrow.png");
          background-repeat: no-repeat;
          background-position: calc(100% - 12px);
          background-size: 10px;
          font-weight: 400;
          font-size: 18px;
          color: #404040;
          font-style: italic;
        }
      }
    }
  }
  .or {
    margin-top: 50px;
  }
  .option2 {
    width: 25%;
    label {
      color: #b011ff;
      font-weight: 500;
      font-size: 20px;
    }
    .district-wrapper {
      margin-top: 12px;
      .district {
        border-radius: 20px;
        height: 40px;
        background-color: #d9d9d9;
        border: none;
        padding: 0px 20px;
        width: 100%;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background-image: url("/public/assets/down-arrow.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 12px);
        background-size: 10px;
        font-weight: 400;
        font-size: 18px;
        color: #404040;
        font-style: italic;
      }
    }
    .mandal-wrapper {
      margin-top: 20px;
      .mandal {
        border-radius: 20px;
        height: 40px;
        background-color: #d9d9d9;
        border: none;
        padding: 0px 20px;
        width: 100%;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background-image: url("/public/assets/down-arrow.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 12px);
        background-size: 10px;
        font-weight: 400;
        font-size: 18px;
        color: #404040;
        font-style: italic;
      }
    }
    .panchayat-wrapper {
      margin-top: 20px;
      .panchayat {
        border-radius: 20px;
        height: 40px;
        background-color: #d9d9d9;
        border: none;
        padding: 0px 20px;
        width: 100%;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background-image: url("/public/assets/down-arrow.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 12px);
        background-size: 10px;
        font-weight: 400;
        font-size: 18px;
        color: #404040;
        font-style: italic;
      }
    }
  }
  .or {
    margin-top: 50px;
  }
  .option3 {
    width: 40%;
    label {
      color: #b011ff;
      font-weight: 500;
      font-size: 20px;
    }
    .map {
      margin-top: 12px;
      input {
        border-radius: 20px;
        height: 40px;
        width: calc(100% - 40px);
        background-color: #d9d9d9;
        border: none;
        padding: 0px 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 21.94px;
        font-style: italic;
        color: #404040;
        -moz-appearance: none; /* Firefox */
        -webkit-appearance: none; /* Safari and Chrome */
        appearance: none;
        background-image: url("/public/assets/Group 117.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 4px);
        background-size: 30px;
        font-weight: 400;
      }
    }
  }
}
.form_btn {
  padding: 8px 52px;
  display: block;
  font-size: 16px;
  border: 2px solid #7500af;
  border-radius: 50px;
  background-color: white;
  color: #7500af;
  margin: 60px auto auto auto;
  cursor: pointer;
  font-weight: 600;
  line-height: 29.26px;
  margin-top: -50px;
  margin-right: 20px;
}

.form_btn:hover {
  background-color: #ae0dff;
  color: #fff;
  border: nobe;
}

.label_text {
  font-size: 18px;
  font-weight: 600;
  color: $color_5;
  margin-bottom: 10px;
}

label {
  font-weight: 400;
  font-size: 20px;
  color: #404040;
  margin-bottom: 0px;
}

input[type="text"] {
  border-radius: 20px;
  height: 45px;
  background-color: #d9d9d9;
  border: none;
  padding: 0px 20px;
  width: calc(100% - 40px);
  line-height: 21.94px;
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  margin-top: 5px;
}

select {
  border-radius: 20px;
  height: 45px;
  background-color: #d9d9d9;
  border: none;
  padding: 0 20px;
  width: 245px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(/public/assets/down-arrow.png);
  background-repeat: no-repeat;
  background-position: calc(100% - 12px);
  background-size: 10px;
  font-weight: 400;
  font-size: 18px;
  color: #404040;
  font-style: italic;
  margin-top: 5px;
}

input[type="checkbox"] {
  margin-right: 10px;
  scale: 1.5;
}

.form_section_details {
  display: flex;
  flex-direction: row;
  grid-gap: 62px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.error_small{
  font-size: 12px;
  padding: 2px 46px;
  font-style: italic;
  color: red;
}

.checkbox-wrapper {
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
}

.checkbox-label {
  font-weight: 600;
  font-size: 20px;
  color: #7500af;
  margin-bottom: 0px;
}
.label-wrapper {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 15px;
}

.input-wrapper-select {
  display: flex;
  flex-direction: row;
  grid-gap: 62px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.selection {
  display: flex;
  flex-direction: column;
}

.other_services > input {
  width: 47%;
}

.form_locality {
  // margin-top: -100px;
}

.details_text {
  font-size: 22px;
  font-weight: 600;
  color: #ae0dff;
  margin-top: 40px;
}

.details-wrapper {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.location-details{
  width: 40%;
}

.edit-wrapper{
  width: 8%;
  text-decoration: underline;
  color: #7500AF;
  cursor: pointer;
  font-weight: 600;
  line-height: 29.26px;
}

.form_bottom{
  margin-top: 40px;
  height: 80px;
  width: calc(100% - 100px);
  background-color: #500079;;
  border-radius: 25px;
  color: #fff;
  padding: 35px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.status_body{
  width: 445px;
  h2{
    font-size: 28px;
  }
  h4{
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
  }
}
.service_provider{
  width: 378px;
  padding-left: 50px;
}


.service_provider{
  p{
    font-size: 18px;
    font-weight: 400;
    width: 375px;
    margin-bottom: 12px;
  }
}

.providers{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  img:hover{
    border: 1px solid #a8a8a8;
      border-radius: 50%;
  }
}
.actionText{
  font-size: 22px;
  font-weight: normal;
  text-decoration: underline;
  cursor: pointer;
  padding: 0px 6px;
}
a{ color: #fff}

.successMessage{
  text-align: center;
  padding: 10px 4px;
  color: green;
  font-size: 18px;
}
.errorMessage{
  text-align: center;
  padding: 10px 4px;
  color: red;
  font-size: 18px;
}

// Options
.selectSection {
 display: grid;
 grid-template-columns: repeat( 3, 1fr);
 justify-content: center;
 text-align: center;
 margin-top: 10px;
}
.selectSection button {
  width: 120px;
  font-size: 20px;
  background-color: rgba(209, 207, 207, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  margin-left: 10px;
  border: 0;
  padding: 6px;
  border-radius: 25px;
  color: #7500AF;
  font-weight: 500;
}
.selectSection button:hover {
  cursor: pointer;
  background-color: #7500AF !important;
  color: #fff !important;
}
.active {
  background-color: #7500AF !important;
  color: #fff !important;
}
.invalid_p{
  color: red;
  font-size: 12px;
  font-style: italic;
  padding: 5px 0px 0px 22px;
}



