.custom-select {
    position: relative;
    select {
        display: none;
    }
    .selected-option {
        width: calc(100% - 44px);
        height: 26px;
        background-color: #D9D9D9;
        padding: 0px 20px;
        border-radius: 20px;
        background-image: url(/public/assets/down-arrow.png);
        background-repeat: no-repeat;
        background-position: calc(100% - 12px);
        background-size: 10px;
        font-size: 18px;
        color: #404040;
        font-style: italic;
        font-weight: 400;
        font-family: MontserratRegular;
        display: flex;
        align-items: center;
        cursor: default;
        border: 2px solid transparent;
        &.show {
            border: 2px solid #000000;
        }
    }
    .select-options-wrapper {
        display: none;
        overflow: hidden;
        border-radius: 20px;
        border: 1px solid #7500AF;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        background: #ffffff;
        .select-options {
            border-radius: 20px;
            list-style: none;
            padding: 15px 20px;
            font-size: 18px;
            color: #404040;
            font-weight: 400;
            font-family: MontserratRegular;
            max-height: 50vh;
            overflow-y: scroll;
            li {
                border-bottom: 1px solid #E1A6FF;
                padding: 10px 0;
                cursor: default;
                &:first-child {
                    padding-top: 0;
                }
                &:last-child {
                    border: none;
                    padding-bottom: 0;
                }
                &:hover {
                    background: #E1A6FF;
                }
            }
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track { 
                background: #f1f1f1; 
            }
            &::-webkit-scrollbar-thumb { 
                background: #E1A6FF;
            }
            &::-webkit-scrollbar-thumb:hover { 
                background: #7500AF; 
            }
            &::-webkit-scrollbar-button { 
                display: none; 
            }
        }
        &.show {
            display: block;
        }
    }
}