@import '/src/scss/variables';

.banner_container {
    padding: 15px;
    margin-top: 40px;
    
  }
  .banner_heading {
    font-size: 2.1em;
    text-align: center;
    font-weight: 600;
    color: #ad0bfd;
    // background: linear-gradient(to right, #b011ff 0%, #500179 100%);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    margin-top: 30px;
  }
  .banner_para {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
  }
  .card_slider {
    padding: 80px 20px;
  }
  .slider {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .card {
    position: relative;
    text-align: center;
    filter: drop-shadow(10px 12px 10px #000000);
    margin-left: 125px;
    > img {
      height: 475px;
      width: 500px;
      object-fit: contain;
      filter: blur(1px);
    }
  }
  .bg-card {
    margin-left: -480px;
    z-index: -1;
    filter: blur(2px);
    scale: 0.9;
  }
  .bg-card-1 {
    z-index: -2;
    filter: blur(4px);
    margin-left: -490px;
    scale: 0.8;
  }
  .bg-card-2 {
    z-index: -3;
    filter: blur(6px);
    margin-left: -500px;
    scale: 0.7;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }
  .card_content {
    > h3 {
      color: $color_3;
      font-weight: 600;
      font-size: 30px;
      margin-top: -20px;
    }
    > button {
      padding: 10px 20px;
      font-size: 18px;
      color: $color_3;
      border: 2px solid #fff;
      background-color: $background-color_3;
      border-radius: 25px;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.6s;
      &:hover {
        background-color: $background-color_4;
        border: none;
      }
    }
  }
  // .card_arrow {
  //   color: $color_4;
  //   font-weight: 400;
  //   cursor: pointer;
  //   font-size: 60px;
  //   transition: 0.2s;
  //   &:hover {
  //     scale: 1.3;
  //   }
  // }
  .banner_bottom {
    height: 120px;
    width: 1150px;
    background-color: $background-color_5;
    border-radius: 20px;
    padding: 20px 30px;
    display: inline-grid;
    color: $color_3;
    margin-left: 30px;
  }
  .banner_content {
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    > h3 {
      font-weight: 500;
      width: 200px;
    }
  }
  .banner_content_section {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .card_img_bg {
    position: relative;
    height: 100px;
    width: 100px;
  }
  .banner_img {
    height: 65px;
    width: 65px;
    border-radius: 50px;
    position: absolute;
    margin-left: -82px;
    margin-top: 17px;
  }

  .section_inside{
    h3{
      font-size: 18px;
      font-weight: 500;
    }
    p{
      font-size: 12px;
      font-weight: 300;
      margin-top: 5px;
    }
  }

  .arrow_left{
    cursor: pointer;
    height: 50px;
    width: 50px;
  }

  .arrow_right{
    cursor: pointer;
    transform: rotate(180deg);
    height: 50px;
    width: 50px;
  }

  .arrow_hover_right{
    cursor: pointer;
    height: 50px;
    width: 50px;
  }

  .arrow_hover_left{
    cursor: pointer;
    transform: rotate(180deg);
    height: 50px;
    width: 50px;
  }