@import '_variables.scss';
body {
    margin: 0;
    font-family: $montserratRegular;
}
.section {
    width: 100%;
}
.container {
    width: calc(100% - 60px);
    max-width: 1280px;
    margin: auto;
    
}