@font-face {
    font-family: $montserratBlack;
    src: url(/public/fonts/Montserrat-Black.ttf);
}

@font-face {
    font-family: $montserratBlackItalic;
    src: url(/public/fonts/Montserrat-BlackItalic.ttf);
}

@font-face {
    font-family: $montserratBold;
    src: url(/public/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: $montserratBoldItalic;
    src: url(/public/fonts/Montserrat-BoldItalic.ttf);
}

@font-face {
    font-family: $montserratExtraBold;
    src: url(/public/fonts/Montserrat-ExtraBold.ttf);
}

@font-face {
    font-family: $montserratExtraBoldItalic;
    src: url(/public/fonts/Montserrat-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: $montserratExtraLight;
    src: url(/public/fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: $montserratExtraLightItalic;
    src: url(/public/fonts/Montserrat-ExtraLightItalic.ttf);
}

@font-face {
    font-family: $montserratItalic;
    src: url(/public/fonts/Montserrat-Italic.ttf);
}

@font-face {
    font-family: $montserratItalicVariableFontWeight;
    src: url(/public/fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: $montserratLight;
    src: url(/public/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: $montserratLightItalic;
    src: url(/public/fonts/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: $montserratMedium;
    src: url(/public/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: $montserratMediumItalic;
    src: url(/public/fonts/Montserrat-MediumItalic.ttf);
}

@font-face {
    font-family: $montserratRegular;
    src: url(/public/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: $montserratSemiBold;
    src: url(/public/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: $montserratSemiBoldItalic;
    src: url(/public/fonts/Montserrat-SemiBoldItalic.ttf);
}

@font-face {
    font-family: $montserratThin;
    src: url(/public/fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: $montserratThinItalic;
    src: url(/public/fonts/Montserrat-ThinItalic.ttf);
}

@font-face {
    font-family: $montserratVariableFontWeight;
    src: url(/public/fonts/Montserrat-VariableFont_wght.ttf);
}