$montserratBlack: 'MontserratBlack';
$montserratBlackItalic: 'MontserratBlackItalic';
$montserratBold: 'MontserratBold';
$montserratBoldItalic: 'MontserratnBoldItalic';
$montserratExtraBold: 'MontserratExtraBold';
$montserratExtraBoldItalic: 'MontserratExtraBoldItalic';
$montserratExtraLight: 'MontserratExtraLight';
$montserratExtraLightItalic: 'MontserratExtraLightItalic';
$montserratItalic: 'MontserratItalic';
$montserratItalicVariableFontWeight: 'MontserratItalicVariableFontWeight';
$montserratLight: 'MontserratLight';
$montserratLightItalic: 'MontserratLightItalic';
$montserratMedium: 'MontserratMedium';
$montserratMediumItalic: 'MontserratMediumItalic';
$montserratRegular: 'MontserratRegular';
$montserratSemiBold: 'MontserratSemiBold';
$montserratSemiBoldItalic: 'MontserratSemiBoldItalic';
$montserratThin: 'MontserratThin';
$montserratThinItalic: 'MontserratThinItalic';
$montserratVariableFontWeight: 'MontserratVariableFontWeight';

//colors -> home
$color_1: #404040;
$color_2: white;
$color_3: #fff;
$color_4: #b011ff;
$color_5: #ae0dff;
$color_6: #7500af;
$background-color_1: #dedede;
$background-color_2: #7500af;
$background-color_3: transparent;
$background-color_4: #02c9cb;
$background-color_5: #500079;
$background-color_6: #ae0dff;
